    
    
    /* @import  "./assets//images/favicon.png"; */
    @import "./assets/fonts/flaticon/flaticon.css";
    @import "./assets/fonts/icofont/icofont.min.css";
    @import "./assets/fonts/fontawesome/fontawesome.min.css";
    @import "./assets/vendor/venobox/venobox.min.css";
    @import "./assets/vendor/slickslider/slick.min.css";
    @import "./assets/vendor/niceselect/nice-select.min.css";
    @import"./assets/vendor/bootstrap/bootstrap.min.css";
    @import"./assets/css/main.css";
    @import"./assets/css/home-category.css";


    #nprogress .bar{
        background: #ffbb00 !important;
        padding: 0 10px !important;
        height: 6px !important;
    }

    #nprogress .spinner .spinner-icon{
        border-top-color: #ffbb00 !important;
        border-left-color: #ffbb00 !important;
    }